{% load static %}

<!DOCTYPE html>
<!--
	Soul by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html>
{% include 'shared/head.html' %}

<body id="home">

  <!-- Back to Top Button -->
  <a href="#home" class="scroll backtotop">
    <i class="fa fa-angle-up"> </i>
  </a>

  <!-- Start of Header -->
  <header>
    <div class="row">
      <div class="large-4 medium-12 column">
        <div class="logoholder">
          <a href="#home" class="scroll"><img src="{%static 'images/logo.png' %}" alt="" title=""></a>
        </div>
      </div>
      {% include 'shared/nav.html' %}

      <div class="large-12 column">
        <div class="sep"> </div>
      </div>

    </div>
  </header>
  <!-- End of Header -->

  {% block content %}
  <!-- index에 있는 내용들 -->
  {% endblock %}

  {% include 'shared/footer.html' %}
</body>

</html>