{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start of About -->
<section class="about" id="about">
  <div class="row">

    <div class="large-8 large-centered column">
      <div class="title">
        <h1>성민</h1>
        <!-- <button type="button" class="btn btn-light">Light</button> -->
        <span>...</span>
        <p>페이지 수정이 덜돼서...<br />아직 미흡한 부분이 많다는 점 양해바랍니다(⑅◞‸◟)</p>
      </div>
    </div>

    <div class="large-4 hide-for-medium-only hide-for-small-only column start">
      <div class="imageholder">
        <img src="{%static 'images/greenpathway.jpg' %}" alt="Green Path Way" title="Green Path Way">
        <div class="text">
          <div><span>Quality Craftsmanship</span></div>
        </div>
      </div>
    </div>

    <div class="large-8 medium-9 large-uncentered medium-centered small-centered column">
      <div class="sliderHolder">
        <div class="slider">
          <div class="slide"><img src="{%static 'images/glassesoncomputer.jpg' %}" alt="Glasses on Computer"
              title="Glasses on Computer" class="item"></div>
          <div class="slide"><img src="{%static 'images/macontable.jpg' %}" alt="Glasses on Computer"
              title="Glasses on Computer" class="item"></div>
        </div>
        <div class="bannerNav">
          <a href="#" class="prev"> <i class="fa fa-angle-left"> </i></a>
          <a href="#" class="next"> <i class="fa fa-angle-right"> </i></a>
        </div>
      </div>
    </div>

    <div class="large-6 medium-6 column">
      <article>
        <div class="smallTitle">
          <h2>할 말이 있다구요?</h2>
          <span>...</span>
        </div>
        <p>
          아래 버튼을 눌러서 글을 작성해주세요!
          <br />
          please click the button below
        </p>
        <a href="{% url 'messageList' %}" class="cta">글 남기기</a>
      </article>
    </div>

    <div class="large-6 medium-6 column">
      <article>
        <div class="smallTitle">
          <h2>내가 좋아하는 글</h2>
          <span>...</span>
        </div>
        <p>
          말은 망령되게 하지 말아야 한다. <br />기품을 지키되 사치하지 말고, 지성을 갖추되 자랑하지 말라.<br />
        </p>
      </article>
    </div>

  </div>
</section>
<!-- End of About -->
{% endblock %}