{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about" id="about">
  <div class="row">

    <div class="large-8 large-centered column">
      <div class="title">
        <h1></h1>
        <span></span>
        <div>
          {% for blog in blogs %}
          {{blog.title}}
          {{blog.writer}}
          {{blog.summary}}
          <a href="{%url 'message' blog.id %}">...자세히</a>
          {% endfor %}
        </div>
        <div>
          <a href="{% url 'writeM' %}" class="cta">글쓰기</a>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}