{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about" id="about">
    <div class="row"> 
        
        <div class="large-8 large-centered column">
            <div class="title">
                <form action="{% url 'create' %}" method="post">
                    {% csrf_token %} <!-- post방식 사용할 때 값이 매번 변경되게해서 방어 -->
                    <p>제목 : <input type="text" name="title"></p>
                    <p>작성자 : <input type="text" name="writer"></p>
                    <p>내용: <textarea type="text" name="body" id="" cols="30" rows="10"></textarea> </p>
                    <p>사진: <input type="file" name="image"></p>
                     <br>
                    <button type="submit">제출</button>
                </form>
            </div>
        </div>
            
    </div>
</section>
{% endblock %}